.translation-banner {
	overflow-x: auto;
	padding: 5px;
	margin: 10px;
	font-family: var(--font-body);
	font-size: var(--font-size-body);
	display: flex;
	flex-direction: column;
	align-items: center;
	border-color: var(--color-surface-border-dark);
	border-style: solid;
	border-width: var(--border-width);
}

.translation-banner.success {
	background-color: var(--color-surface-base-dark);
	/*color: var(--color-text-highlight);*/
}

.translation-banner.error {
	background-color: var(--color-danger-soft);
	color: var(--color-text-critical);
}

#banner-text {
	white-space: pre-wrap;
	color: var(--color-text-base-dark);
	/* Preserve line breaks and spaces */
}

#settings-link {
	margin-left: auto;
	color: var(--color-primary-default);
	text-decoration: underline;
	cursor: pointer;
}
